body {
    background-image: url(https://assets.editorial.aetnd.com/uploads/2009/10/albert-einstein-gettyimages-544750041.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}

.input1 {
    margin-left: 50%;
    text-align: georgia;
    color: rgb(0, 0, 0);
}
.input2 {
    margin-left: 50%;
    text-align: georgia;
}

.label {
    color: #fff;
    font-style: bold;
}


.calc {
    margin-left: 50%;
    font-style: georgia;
}

.add  {
    margin-top: 0%;
    margin-left: 50%;
}