/* Saba Kochadze
    May 28, 2023
    Lab 1 GUI Website
 */

body {
    background-image: url(https://assets.editorial.aetnd.com/uploads/2009/10/albert-einstein-gettyimages-544750041.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  /* Keeps the backgound centeres and focused without repetition */ 
    background-position-x: center;
}

